<!DOCTYPE html> 
<html> 
  <head>
   	<meta charset="utf-8"/>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<title>Dashboaaaaaaad  4 train yo</title>
  </head>
  <body>

  	<!--TITLE-->
  	<div id="title" class="row">
	  	<div class="small-6 columns">
	  		<h1> FUCKIN' TRAINS, MAN</h1>
	  	</div>

  	</div>

	<!--NAV-->
  	<div id="nav" class="row">
  		<div class="small-12 columns">

			<dl class="tabs" data-tab>
			  <dd class="active"><a href="#panel1">Tab 1</a></dd>
			  <dd><a href="#panel2">Tab 2</a></dd>
			  <dd><a href="#panel3">Tab 3</a></dd>
			  <dd><a href="#panel4">Tab 4</a></dd>
			</dl>
			<div class="tabs-content">
			  <div class="content active" id="panel1">
			    <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
			  </div>
			  <div class="content" id="panel2">
			    <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
			  </div>
			  <div class="content" id="panel3">
			    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
			  </div>
			  <div class="content" id="panel4">
			    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
			  </div>
			</div>

		</div>
  	</div>

	<!--DATA-->
  	<div id="data" class="row">


  	</div>


  </body> 
</html> 
