

@font-face {
  font-family: 'Helsinki';
    src: url('../font/Helsinki/helsinki.ttf')  format('truetype'),
       url('../font/Helsinki/helsinki.eot?#iefix') format('embedded-opentype'),
       url('../font/Helsinki/helsinki.woff') format('woff'),
       url('../font/Helsinki/helsinki.svg') format('svg');
   }

@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
       url('../font/roboto_regular_macroman/Roboto-Regular-webfont.ttf')  format('truetype'),
       url('../font/roboto_regular_macroman/Roboto-Regular-webfont.svg') format('svg');
}


h1{
 font-family: 'Helsinki';
 text-align: center;
 font-size: 92px;
 background: rgb(250,250,250);
}

h2{
  font-family: 'Helsinki';
  text-align: center;
  font-size: 30px;
  background: rgb(250,250,250);
}

h3{

}

p{
  font-family: 'Roboto';
  background: rgb(250,250,250);
}

body{
	font-family: 'Roboto';
  font-size: 16px;

    background-image:  url('/img/tom.jpg');
    background-size: ;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;

}

p.foot {
  background: rgba(250,250,250,0.0);
}

.tabs dd > a, .tabs .tab-title > a, .accordion .accordion-navigation > a, .accordion dd > a{
	font-family: 'Roboto';
  font-size: 16px;

}

td{
  font-family: 'Roboto';
}

#title{
  padding-bottom: 30px;
}
#nav{
  text-align: center;

}
#tabs{
  padding-left: 30px;
}

#data {
	text-align: center;
  padding-bottom: 30px;
}

#footer{
  font-family: 'Roboto';
  text-align: right;
  background: #efefef;
  padding-top: 10px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
}


